<label>
	{% if label | length > 0 %}
		<span class="customize-control-title">{{ label }}</span>
	{% endif %}
	<select {{ link }}>
		{% for item, label in choices %}
			<option value="{{ item }}" {{ fn('selected', value, item ) }}>{{ label }}</option>
		{% endfor %}
	</select>
	{% if description %}
	<span class="description customize-control-description"><p>{{ description }}</p></span>
	{% endif %}
</label>
